Options +Indexes
IndexIgnore *.old *.bak
IndexOptions +FancyIndexing
IndexOptions SuppressLastModified
IndexOrderDefault Descending Name

<FilesMatch "2021-02-10-morgan-q1-premium-insights.html">
AuthName "Member Only"
AuthType Basic
AuthUserFile /home/morganja/.htpasswd
require valid-user
</FilesMatch>
